server:
  error:
    whitelabel:
      enabled: false
  shutdown: graceful
  forward-headers-strategy: framework

spring:
  profiles:
    default: local

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
  web:
    resources:
      add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true

learning-mate:
  openai-api-key: example-key
  bucket-name: learning-mate-content-prod

jwt:
  secret: jwt-secret
  issuer: jwt-issuer